<body>
    <h1>Simulator - Green roof top</h1>
    <h2>Step 1: Enter your roof's information</h2>
    <div class="roof-info">
        <h3>Dimensions (top view)</h3>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" required><p style="display: inline-block;">meters</p><br><br>
        <label for="fname">Width:</label>
        <input type="text" id="width" name="width" required><p style="display: inline-block;">meters</p><br><br>
        <h3>Access Point to the roof:</h3>
        <label for="x">X-coordinate:</label>
        <input type="text" id="x" name="x" required><br><br>
        <label for="y">Y-coordinate:</label>
        <input type="text" id="y" name="y" required><br><br>
        <div class="button-div">
            <button class="button-visualise" (click)="getInputValues()">
                <p class="button-text">Visualize roof</p>
            </button>
        </div>
    </div>

    <canvas id ="myCanvas" width="500" height="500"></canvas>

</body>

