.grid-container {
  width: 600px;
  height: 600px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin: 10px 0;
}

.whole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile {
  border: 1px solid #9E9E9E;
  outline: none;
}

.submit-btn {
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: rgb(2, 162, 2);
  width: 200px;
  &:hover {
    background-color: rgb(0, 79, 0);
  }
}

button .disabled-btn {
  background-color: grey;
}

// Source: https://getcssscan.com/css-buttons-examples, button-28
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(123, 213, 123);
  cursor: pointer;
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 60px;
  max-width: 200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}