#container {
    display: flex;
    align-items: center; 
    padding: 10px 40px;
    margin-bottom: 20px;
    background-color: rgb(35, 64, 27);
    color: #fff;
   
}


#logo, #links {
    display: flex;
    align-items: center; 
}

#links {
    flex-grow: 1;
    justify-content: flex-end; 
    gap: 20px;
}

.link {
    cursor: pointer;
    color: rgb(138, 192, 117);
    text-decoration: none;
}

.link:hover {
    color: rgb(186, 208, 177);
}

img {
    border-radius: 50%; 
    margin-right: 20px; 
}

#about {
    background-color: rgb(65, 109, 62); 
    color: white;
    border:black; 
    padding: 10px 20px; 
    cursor: pointer; 
}
