<h2>Step 1: Enter your roof's information</h2>
<div class="roof-info">
  <h3>Dimensions (top view)</h3>
  <label for="height">Height:</label>
  <input type="number" id="height" name="height" required min="5" max="40"/>
  <p style="display: inline-block">meters (between 5-40m)</p>
  <br /><br />
  <label for="fname">Width:</label>
  <input type="number" id="width" name="width" required min="5" max="40"/>
  <p style="display: inline-block">meters (between 5-40m)</p>
  <br /><br />
  <h3>Access Point to the roof:</h3>
  <label for="x">X-coordinate:</label>
  <input type="number" id="x" name="x" required /><br /><br />
  <label for="y">Y-coordinate:</label>
  <input type="number" id="y" name="y" required /><br /><br />
  <div class="button-div">
    <button class="button-visualise" (click)="getInputValues()">
      <p class="button-text">Visualize roof</p>
    </button>
  </div>
</div>

<canvas id="myCanvas" width="500" height="500"></canvas>
