<div class="about-section">
    <h1>G R O O F</h1>
    <p>But de notre projet: Encouragez la population à installer des toits verts pour contribuer au développement durable, nourrir les habitants du bâtiment et former une communauté.
    </p>
    <p>Il est bien possible d’organiser une idée par sa propre manière.Cependant, cela peut s'avérer très coûteux en temps. C'est pourquoi, afin d'inciter les utilisateurs à être moins affectés et moins préoccupés par le temps passé, car le temps c'est de l'argent, ce site pourrait être utilisé à des fins organisationnelles pour encourager leur volonté. 
    </p>
    
  </div>
  <img id="logoAbout" src="assets/pictures/logo.png" alt="Logo Image" width="300" height="300" >
