<div class="containerForm">
    <h2>Calculation Form of the carbon absorption</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="inputOne">Input the percentage for small plants(0.5m<sup>2</sup>):</label>
        <input type="number" formControlName="inputOne">
      </div>
      <div>
        <label for="inputTwo">Input the percentage for medium plants(1m<sup>2</sup>):</label>
        <input type="number" formControlName="inputTwo">
      </div>
      <div>
        <label for="inputTwo">Input the percentage for large plants(2m<sup>2</sup>):</label>
        <input type="number" formControlName="inputThree">
      </div>
      <button type="submit">Calculate</button>
    </form>
  

  <div class="results-container">
    <h3>The carbon absorption in kg throughout the plants lifetime:</h3>
    <p>Small Result: <span class="result">{{resultSmall}} kg</span></p>
    <p>Medium Result: <span class="result">{{resultMedium}} kg</span></p>
    <p>Large Result: <span class="result">{{resultLarge}} kg</span></p>
  </div>
</div>
