
.containerForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #408953;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .containerForm h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #010101;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #3f7941;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; 
  }
  

  div > p {
    font-size: 16px;
    color: #000000;
    padding: 5px 0;
  }
  .results-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #eef2f5; 
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .results-container p {
    font-size: 18px; 
    color: #000000; 
    margin: 10px 0; 
  }
  
  .result {
    font-weight: bold; 
    color: #000000; 
  }
  
  .containerForm, .results-container {
    flex: 1; 
    margin: 10px; 
  }
  
  
  .containerForm {
    flex: 2; 
  }
  
  .results-container {
    flex: 3; 
  }
  