.colored-square {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.type-btn {
  display: flex;
  align-items: center;
}

// Source: https://getcssscan.com/css-buttons-examples, button-28
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(123, 213, 123);
  cursor: pointer;
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  min-height: 60px;
  max-width: 200px;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}